@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese");
/**
 * Main body
 */
.elfinder {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0 !important;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

/**
 * Toolbar
 */
.elfinder-toolbar {
  background:#10141a;
  border: 0;
  border-radius: 0 !important;
}
.elfinder-buttonset {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  border: 0 !important;
}
.elfinder-button,
.elfinder-button.ui-state-hover {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  background: transparent !important;
  cursor: pointer;
}
.elfinder-toolbar-button-separator {
  display: none;
}
.elfinder-button-menu {
  border: 0 !important;
  border-radius: 2px;
}
.elfinder-menubutton.ui-state-hover,
.elfinder-button-menu-item.ui-state-hover {
  font-weight: normal !important;
}

/**
 * Search Bar
 */
.elfinder-button-search input {
  box-sizing: content-box;
  background: rgba(9, 53, 121, 0.75) !important;
  border: 0 !important;
  border-radius: 2px !important;
  color: #fff;
  padding: 0 25px;
  width: 150px;
}
.elfinder-button-search .ui-icon-search {
  background: url("images/toolbar.png") 0 -609px no-repeat;
}
.elfinder-button-search .ui-icon-close {
  background: url("images/icons.png") 0 1px no-repeat;
}
.elfinder-button-search .ui-icon-search:hover,
.elfinder-button-search .ui-icon-close:hover {
  opacity: 1;
}
.elfinder-button-search .elfinder-button-menu {
  border-radius: 0 0 2px 2px;
  width: 200px !important;
}

/**
 * Workzone
 */
.elfinder-workzone {
  background: #0e1827;
}
.ui-selectable-helper {
  border-color: white;
}
.ui-state-hover {
  color: #e6e6e6 !important;
}

/**
 * Navbar
 */
.elfinder-navbar {
  background: #2a384d !important;
  border: 0 !important;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}
.elfinder-navbar-dir {
  background: transparent !important;
  border: 0 !important;
  color: #e6e6e6 !important;
  font-weight: bold !important;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 2px;
}
.elfinder-tree .elfinder-navbar-root-local .elfinder-navbar-icon {
  background-image: url("images/volume_icon_local.png");
}
.elfinder-tree .elfinder-navbar-root-sql .elfinder-navbar-icon {
  background-image: url("images/volume_icon_sql.png");
}
.elfinder-navbar-icon {
  background-image: url("images/toolbar.png");
  background-position: 0 -84px;
}
.elfinder-droppable-active .elfinder-navbar-icon,
.ui-state-active .elfinder-navbar-icon,
.ui-state-hover .elfinder-navbar-icon {
  background-position: 0 -105px;
}
.elfinder-tree .elfinder-navbar-root-ftp .elfinder-navbar-icon {
  background-image: url("images/toolbar.png");
  background-position: 0 -693px;
}

/**
 * Wrapper
 */
.elfinder-cwd-wrapper {
  color: #e6e6e6;
}
.elfinder-cwd table {
  padding: 0;
}
.elfinder-cwd table thead td {
  color: #222 !important;
}
.elfinder-cwd-view-list tr td {
  background: transparent !important;
}
.elfinder-cwd-wrapper-list tr td.ui-resizable {
  border-right: 1px solid #699 !important;
  font-weight: bold !important;
}
.elfinder-cwd-wrapper-list tr td .ui-icon-grip-dotted-vertical {
  background: none !important;
}
.elfinder-cwd-fixheader tr td {
  font-weight: normal !important;
}
.elfinder-cwd-file.ui-selected,
.ui-state-hover {
  background: #1E88E5 !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

/**
 * ContextMenu
 */
.elfinder-contextmenu {
  border: 0 !important;
  border-radius: 2px;
}
.elfinder-contextmenu-header {
  background: #f7f7f7 !important;
}
.elfinder-contextmenu-item {
  font-weight: bold !important;
}
.elfinder-contextmenu-item.ui-state-hover .elfinder-contextmenu-icon,
.elfinder-contextmenu-item.ui-state-hover .elfinder-contextmenu-extra-icon {
  background: url("images/toolbar.png") no-repeat;
}
.elfinder-contextmenu-sub {
  border-radius: 2px !important;
  margin-left: 0 !important;
  top: 0 !important;
  border: 0 !important;
}

/**
 * StatusBar
 */
.elfinder-statusbar {
  background: #10141a;
  color: #cfd2d4;
  border: 0;
  border-radius: 0 !important;
}
.elfinder-stat-size {
  margin-right: 15px;
}
.elfinder-path {
  margin-left: 15px !important;
}

/**
 * Button
 */
.ui-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  border-color: transparent !important;
  background-image: none !important;
  padding: 5px 6px !important;
  background: white !important;
  color: #000 !important;
}
.elfinder-focus,
.ui-button:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #2196F3 !important;
  color: #fff !important;
}
.ui-controlgroup-horizontal .ui-button {
  border-radius: 0;
}

/**
 * Input
 */
input.elfinder-tabstop,
input.elfinder-tabstop.ui-state-hover,
select.elfinder-tabstop,
select.elfinder-tabstop.ui-state-hover {
  padding: 5px;
  color: #666666;
  background: #fff !important;
  border-radius: 3px;
  color: #000 !important;
  font-weight: normal !important;
  border-color: #888;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select.elfinder-tabstop,
select.elfinder-tabstop.ui-state-hover {
  width: 100%;
}

/**
 * Dialog
 */
.elfinder-dialog {
  border-radius: 0 !important;
  border: 0 !important;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 30px rgba(0, 0, 0, 0.6);
}
.ui-dialog-titlebar {
  background: #2c3e50;
  border: 0 !important;
  border-radius: 0 !important;
}
.elfinder-dialog-title {
  color: #b6c5c5;
}
.ui-dialog .ui-dialog-content[id*="resize-elfinder-elfinder-"] {
  padding: 5px !important;
}
.ui-dialog .ui-tabs {
  border: 0 !important;
  margin-bottom: 0;
  padding: 0;
}
.ui-dialog .ui-tabs-nav {
  border-radius: 0 !important;
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
}
.ui-dialog .ui-tabs-nav li {
  border: 0 !important;
  font-weight: normal !important;
  padding: 7px 20px;
  background: transparent !important;
  margin: 0;
}
.ui-dialog .ui-tabs-nav .ui-tabs-selected,
.ui-dialog .ui-tabs-nav .ui-state-active,
.ui-dialog .ui-tabs-nav li:hover {
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
          box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 7px!important;
}
.ui-dialog .ui-tabs-nav .ui-tabs-selected a,
.ui-dialog .ui-tabs-nav .ui-state-active a,
.ui-dialog .ui-tabs-nav li a:hover {
  color: #2196f3 !important;
}
.ui-dialog .ui-tabs-nav li a {
  color: #666;
}
.std42-dialog .ui-dialog-titlebar .elfinder-titlebar-button .ui-icon {
  width: 16px;
  height: 16px;
}
.ui-icon-closethick {
  background-image: url("images/icons.png") !important;
  background-position: 0 0;
  transition: .2s ease-out;
}
.elfinder-mobile .std42-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon,
.std42-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover .ui-icon {
  background: #F44336 url("images/icons.png") 0 0 !important;
}
.ui-icon-minusthick {
  background-image: url("images/icons.png") !important;
  background-position: 0 -48px;
  transition: .2s ease-out;
}
.elfinder-mobile .std42-dialog .ui-dialog-titlebar .elfinder-titlebar-minimize .ui-icon,
.std42-dialog .ui-dialog-titlebar .elfinder-titlebar-minimize:hover .ui-icon {
  background: #FFC107 url("images/icons.png") 0 -48px !important;
}
.ui-icon-plusthick {
  background-image: url("images/icons.png") !important;
  background-position: 0 -32px;
  transition: .2s ease-out;
}
.elfinder-mobile .std42-dialog .ui-dialog-titlebar .elfinder-titlebar-full .ui-icon,
.std42-dialog .ui-dialog-titlebar .elfinder-titlebar-full:hover .ui-icon {
  background: #4CAF50 url("images/icons.png") 0 -32px !important;
}
.ui-icon-arrowreturnthick-1-s {
  background-image: url("images/icons.png") !important;
  background-position: 0 -64px;
  transition: .2s ease-out;
}
.elfinder-mobile .std42-dialog .ui-dialog-titlebar .elfinder-titlebar-full .ui-icon .ui-icon-arrowreturnthick-1-s:hover,
.std42-dialog .ui-dialog-titlebar .elfinder-titlebar-full:hover .ui-icon > .ui-icon-arrowreturnthick-1-s:hover {
  background: #4CAF50 url("images/icons.png") 0 -64px !important;
}
.ui-icon-locked {
  background-image: url("images/toolbar_.png") !important;
  background-position: 0 -880px;
}
.ui-icon-locked:hover {
  background-image: url("images/toolbar.png") !important;
}
.ui-icon-unlocked {
  background-image: url("images/toolbar_.png") !important;
  background-position: 0 -901px;
}
.ui-icon-unlocked:hover {
  background-image: url("images/toolbar.png") !important;
}
.ui-icon-arrowrefresh-1-n {
  background-image: url("images/toolbar_.png") !important;
  background-position: 0 -651px;
}
.ui-icon-arrowrefresh-1-n:hover {
  background-image: url("images/toolbar.png") !important;
}
.ui-icon-circle-close {
  background-image: url("images/icons.png") !important;
  background-position: 0 -16px;
  cursor: pointer !important;
}
.ui-icon-gripsmall-diagonal-se {
  background: url("../../img/toolbar.png") 0 -496px no-repeat !important;
}

/**
 * Icons
 */
.elfinder-toolbar .elfinder-button-icon { background: url("images/toolbar.png") no-repeat; }
.elfinder-button-icon              { background: url("images/toolbar_.png") no-repeat; }
.elfinder-button-icon-home         { background-position: 0 0 !important; }
.elfinder-button-icon-back         { background-position: 0 -21px !important; }
.elfinder-button-icon-forward      { background-position: 0 -42px !important; }
.elfinder-button-icon-up           { background-position: 0 -63px !important; }
.elfinder-button-icon-dir          { background-position: 0 -84px !important; }
.elfinder-button-icon-opendir      { background-position: 0 -105px !important; }
.elfinder-button-icon-reload       { background-position: 0 -126px !important; }
.elfinder-button-icon-open         { background-position: 0 -147px !important; }
.elfinder-button-icon-mkdir        { background-position: 0 -168px !important; }
.elfinder-button-icon-mkfile       { background-position: 0 -189px !important; }
.elfinder-button-icon-rm           { background-position: 0 -210px !important; }
.elfinder-button-icon-copy         { background-position: 0 -231px !important; }
.elfinder-button-icon-cut          { background-position: 0 -252px !important; }
.elfinder-button-icon-paste        { background-position: 0 -273px !important; }
.elfinder-button-icon-getfile      { background-position: 0 -294px !important; }
.elfinder-button-icon-duplicate    { background-position: 0 -315px !important; }
.elfinder-button-icon-rename       { background-position: 0 -336px !important; }
.elfinder-button-icon-edit         { background-position: 0 -357px !important; }
.elfinder-button-icon-quicklook    { background-position: 0 -378px !important; }
.elfinder-button-icon-upload       { background-position: 0 -399px !important; }
.elfinder-button-icon-download     { background-position: 0 -420px !important; }
.elfinder-button-icon-info         { background-position: 0 -441px !important; }
.elfinder-button-icon-extract      { background-position: 0 -462px !important; }
.elfinder-button-icon-archive      { background-position: 0 -483px !important; }
.elfinder-button-icon-view         { background-position: 0 -504px !important; }
.elfinder-button-icon-view-list    { background-position: 0 -525px !important; }
.elfinder-button-icon-help         { background-position: 0 -546px !important; }
.elfinder-button-icon-resize       { background-position: 0 -567px !important; }
.elfinder-button-icon-link         { background-position: 0 -588px !important; }
.elfinder-button-icon-search       { background-position: 0 -609px !important; }
.elfinder-button-icon-sort         { background-position: 0 -630px !important; }
.elfinder-button-icon-rotate-r     { background-position: 0 -651px !important; }
.elfinder-button-icon-rotate-l     { background-position: 0 -672px !important; }
.elfinder-button-icon-netmount     { background-position: 0 -693px !important; }
.elfinder-button-icon-netunmount   { background-position: 0 -714px !important; }
.elfinder-button-icon-places       { background-position: 0 -735px !important; }
.elfinder-button-icon-chmod        { background-position: 0 -756px !important; }
.elfinder-button-icon-accept       { background-position: 0 -777px !important; }
.elfinder-button-icon-menu         { background-position: 0 -798px !important; }
.elfinder-button-icon-colwidth     { background-position: 0 -819px !important; }
.elfinder-button-icon-fullscreen   { background-position: 0 -840px !important; }
.elfinder-button-icon-unfullscreen { background-position: 0 -861px !important; }
.elfinder-ro .elfinder-perms       { background: url("images/toolbar.png") 0 -877px; }
.elfinder-info-spinner,
.elfinder-navbar-spinner,
.elfinder-button-icon-spinner      { background: url("images/loading.svg") center center no-repeat !important; }

.elfinder-cwd-view-list td .elfinder-cwd-icon {
  background-image: url("images/icons-small.png");
}
.elfinder-cwd-icon                   { background: url("images/icons-big.png") 0 0 no-repeat; }
.elfinder-cwd-icon-directory         { background-position: 0 -48px; }
.elfinder-cwd .elfinder-droppable-active .elfinder-cwd-icon { background-position: 0 -96px; }

/**
 * Mimetypes icons
 */
.elfinder-cwd-icon-application       { background-position: 0 -144px; }
.elfinder-cwd-icon-x-empty,
.elfinder-cwd-icon-text              { background-position: 0 -192px; }
.elfinder-cwd-icon-image             { background-position: 0 -240px; }
.elfinder-cwd-icon-vnd-adobe-photoshop,
.elfinder-cwd-icon-postscript        { background-position: 0 -288px; }
.elfinder-cwd-icon-audio             { background-position: 0 -336px; }
.elfinder-cwd-icon-video,
.elfinder-cwd-icon-flash-video       { background-position: 0 -384px; }
.elfinder-cwd-icon-rtf,
.elfinder-cwd-icon-rtfd              { background-position: 0 -432px; }
.elfinder-cwd-icon-pdf               { background-position: 0 -480px; }
.elfinder-cwd-icon-msword,
.elfinder-cwd-icon-vnd-ms-word,
.elfinder-cwd-icon-vnd-ms-word-document-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-word-template-macroEnabled-12 { background-position: 0 -528px; }
.elfinder-cwd-icon-ms-excel,
.elfinder-cwd-icon-vnd-ms-excel,
.elfinder-cwd-icon-vnd-ms-excel-addin-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-excel-sheet-binary-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-excel-sheet-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-excel-template-macroEnabled-12 { background-position: 0 -576px; }
.elfinder-cwd-icon-vnd-ms-powerpoint,
.elfinder-cwd-icon-vnd-ms-powerpoint-addin-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-presentation-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-slide-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-slideshow-macroEnabled-12,
.elfinder-cwd-icon-vnd-ms-powerpoint-template-macroEnabled-12 { background-position: 0 -624px; }
.elfinder-cwd-icon-vnd-ms-office,
.elfinder-cwd-icon-vnd-oasis-opendocument-chart,
.elfinder-cwd-icon-vnd-oasis-opendocument-database,
.elfinder-cwd-icon-vnd-oasis-opendocument-formula,
.elfinder-cwd-icon-vnd-oasis-opendocument-graphics,
.elfinder-cwd-icon-vnd-oasis-opendocument-graphics-template,
.elfinder-cwd-icon-vnd-oasis-opendocument-image,
.elfinder-cwd-icon-vnd-oasis-opendocument-presentation,
.elfinder-cwd-icon-vnd-oasis-opendocument-presentation-template,
.elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet,
.elfinder-cwd-icon-vnd-oasis-opendocument-spreadsheet-template,
.elfinder-cwd-icon-vnd-oasis-opendocument-text,
.elfinder-cwd-icon-vnd-oasis-opendocument-text-master,
.elfinder-cwd-icon-vnd-oasis-opendocument-text-template,
.elfinder-cwd-icon-vnd-oasis-opendocument-text-web,
.elfinder-cwd-icon-vnd-openofficeorg-extension,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-presentation,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slide,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slideshow,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-template,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-sheet,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-template,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-document,
.elfinder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-template { background-position: 0 -672px; }
.elfinder-cwd-icon-html              { background-position: 0 -720px; }
.elfinder-cwd-icon-css               { background-position: 0 -768px; }
.elfinder-cwd-icon-javascript,
.elfinder-cwd-icon-x-javascript      { background-position: 0 -816px; }
.elfinder-cwd-icon-x-perl            { background-position: 0 -864px; }
.elfinder-cwd-icon-x-python          { background-position: 0 -912px; }
.elfinder-cwd-icon-x-ruby            { background-position: 0 -960px; }
.elfinder-cwd-icon-x-sh,
.elfinder-cwd-icon-x-shellscript     { background-position: 0 -1008px; }
.elfinder-cwd-icon-x-c,
.elfinder-cwd-icon-x-csrc,
.elfinder-cwd-icon-x-chdr,
.elfinder-cwd-icon-x-c--,
.elfinder-cwd-icon-x-c--src,
.elfinder-cwd-icon-x-c--hdr          { background-position: 0 -1056px; }
.elfinder-cwd-icon-x-java,
.elfinder-cwd-icon-x-java-source     { background-position: 0 -1104px; }
.elfinder-cwd-icon-x-php             { background-position: 0 -1152px; }
.elfinder-cwd-icon-xml               { background-position: 0 -1200px; }
.elfinder-cwd-icon-zip,
.elfinder-cwd-icon-x-zip             { background-position: 0 -1248px; }
.elfinder-cwd-icon-x-xz              { background-position: 0 -1296px; }
.elfinder-cwd-icon-x-7z-compressed   { background-position: 0 -1344px; }
.elfinder-cwd-icon-x-gzip            { background-position: 0 -1392px; }
.elfinder-cwd-icon-x-tar             { background-position: 0 -1440px; }
.elfinder-cwd-icon-x-bzip,
.elfinder-cwd-icon-x-bzip2           { background-position: 0 -1488px; }
.elfinder-cwd-icon-x-rar,
.elfinder-cwd-icon-x-rar-compressed  { background-position: 0 -1536px; }
.elfinder-cwd-icon-x-shockwave-flash { background-position: 0 -1584px; }
.elfinder-cwd-icon-group             { background-position: 0 -1632px; }

/**
 * Dialog icons
 */
.elfinder-dialog-icon             { background: url("images/dialogs.png") 0 0 no-repeat; }
.elfinder-dialog-icon-mkdir       { background-position: 0 -64px !important; }
.elfinder-dialog-icon-mkfile      { background-position: 0 -96px !important; }
.elfinder-dialog-icon-copy,
.elfinder-dialog-icon-prepare,
.elfinder-dialog-icon-move        { background-position: 0 -128px !important;}
.elfinder-dialog-icon-upload,
.elfinder-dialog-icon-chunkmerge  { background-position: 0 -160px !important; }
.elfinder-dialog-icon-rm          { background-position: 0 -192px !important; }
.elfinder-dialog-icon-open,
.elfinder-dialog-icon-readdir,
.elfinder-dialog-icon-file,
.elfinder-dialog-icon-reload      { background-position: 0 -224px !important; }
.elfinder-dialog-icon-download    { background-position: 0 -256px !important; }
.elfinder-dialog-icon-save        { background-position: 0 -288px !important; }
.elfinder-dialog-icon-rename      { background-position: 0 -320px !important; }
.elfinder-dialog-icon-zipdl,
.elfinder-dialog-icon-archive,
.elfinder-dialog-icon-extract     { background-position: 0 -352px !important; }
.elfinder-dialog-icon-search      { background-position: 0 -384px !important; }
.elfinder-dialog-icon-resize,
.elfinder-dialog-icon-loadimg,
.elfinder-dialog-icon-netmount,
.elfinder-dialog-icon-netunmount,
.elfinder-dialog-icon-chmod,
.elfinder-dialog-icon-preupload,
.elfinder-dialog-icon-url,
.elfinder-dialog-icon-dim         { background-position: 0 -416px !important; }