# Autodetect text files
* text=auto

# Force LF for all text files
*.* text eol=lf

# Force images/fonts to be handled as binaries
*.png binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

# Files and directories with the attribute export-ignore won’t be added to archive files.
Material/src export-ignore
.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
LICENSE export-ignore
README.md export-ignore
