//
// Common variables used in all themes
//

// Fonts
// ----------------------------------------------
@base-font: -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
@font-name: material; // This is for custom icon pack

// Paths
// ----------------------------------------------
@icons: '../icons/';
@images: '../images/';
