/**
 * Dialogs
 */
.elfinder-dialog,
.elfinder-quicklook {
    border-radius: 0;
    border: 0 !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    background: @dialog-bg;
    color: @dialog-color;

    a {
        color: darken(@dialog-color, 5%);
    }

    .ui-dialog-titlebar {
        border-radius: 0;
        border: 0;
        background: @dialog-header-bg;
        color: @dialog-header-color;
    }

    .ui-widget-content {
        .remove-borders;
        background: transparent;
        color: @dialog-color;
    }

    .elfinder-titlebar-button {
        background: none;

        .ui-icon {
            border: 0;
            color: @dialog-color;
            width: unset !important;
            height: unset !important;

            &:hover {
                opacity: 80;
            }
        }
    }

    .elfinder-cwd-icon {
        &:before {
            left: 50% !important;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        &:after {
            left: 50% !important;
        }
    }
}

.elfinder-dialog .ui-dialog-titlebar-close .ui-icon:hover,
.elfinder-titlebar-button .elfinder-icon-close:hover {
    color: #f44336;
}

.elfinder-dialog .elfinder-titlebar-minimize .ui-icon:hover,
.elfinder-titlebar-button .elfinder-icon-minimize:hover {
    color: #ff9800;
}

.elfinder-dialog .elfinder-titlebar-full .ui-icon:hover,
.elfinder-titlebar-button .elfinder-icon-full:hover {
    color: #4caf50;
}

.elfinder-dialog {
    .ui-tabs {
        .ui-tabs-nav {
            background: none;
            border: 0;
            border-bottom: 1px solid @tabs-border;
            padding: 0;
        }

        .ui-tabs-tab {
            background: none;
            .remove-borders;

            a {
                color: @tab-color;
                margin-bottom: -1px;
            }

            &.ui-state-hover {
                a {
                    color: darken(@tab-color, 10%);
                }
            }

            &.ui-state-active {
                a {
                    color: @tab-color-active;
                    border-bottom: 3px solid @tab-color-active;
                }
            }
        }
    }

    .elfinder-dialog-icon {
        background: none;
        font-size: 32px;
        margin-top: -23px;
    }

    .elfinder-info-tb {
        margin: 1em 0;
    }

    .elfinder-edit-editor {
        padding: 0;

        textarea {
            border-radius: 0;
            box-shadow: none;
            background: #484848;
            padding: unset;
        }
    }

    .ui-dialog-buttonpane {
        select,
        .ui-button {
            margin-top: 0 !important;
            margin-bottom: 0;
            padding: 5px 6px;
        }

        .ui-dialog-buttonset {
            padding-top: 0;

            &.elfinder-edit-extras {
                margin: 0 .4em;

                select {
                    padding: 5.2px 5px;
                }
            }
        }

        .ui-button-icon {
            transform: translateY(-50%) translateX(-50%);
            margin-top: 0;
            margin-left: 0;
        }
    }

    .elfinder-upload-dropbox {
        border-color: rgba(0, 0, 0, .5);

        &.ui-state-hover {
            background: rgba(0, 0, 0, .7);
        }
    }

    .elfinder-upload-dirselect {
        background: none;
    }

    &.elfinder-dialog-resize {
        .ui-button {
            margin: 3px;
        }
    }
}

.elfinder .elfinder-navdock {
    border: 0;
}

.elfinder-notify-cancel {
    .ui-state-hover {
        background: none;
        color: lighten(@dialog-color, 80%);
    }
}

.elfinder-quicklook-navbar-icon {
    background: none;
    font-size: 24px;
}

.elfinder-quicklook-info-data {
    color: @dialog-color;
}

.elfinder-quicklook-preview-text-wrapper {
    background: @quicklook-text-preview-bg;
}

/**
 * Ace Editor
 */
#ace_settingsmenu {
    box-shadow: 0 1px 30px rgba(0, 0, 0, .6);
    background-color: lighten(@workzone-bg, 2%);
    color: @body-color;
}

.ace_optionsMenuEntry {
    &:hover {
        background-color: transparent;
    }

    button {
        &:extend(.elfinder .ui-button);

        &:hover {
            &:extend(.elfinder .ui-button:hover);
        }

        &[ace_selected_button=true] {
            &:extend(.elfinder .ui-button.ui-state-active);
        }
    }
}
