/**
 * Input & Select
 */
.elfinder {
    input,
    select,
    textarea {
        padding: 4px;
        color: #ddd;
        background: rgba(0, 0, 0, .80);
        border-radius: 0;
        font-weight: normal;
        border: 0;
        box-shadow: none !important;

        &.ui-state-hover,
        &:focus {
            background: rgba(0, 0, 0, .80) !important;
            color: #ddd !important;
            border: 0 !important;
        }
    }

    input[type="checkbox"] {
        background: transparent;
        position: relative;
        border: none;
        appearance: none;
        cursor: pointer;
        padding: 0;
        margin: -2px 3px 0 0;
        vertical-align: middle;

        &.ui-state-hover {
            background: none !important;
        }

        &:focus {
            outline: none;

            &:after {
                border-color: #2196f3;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border: 2px solid #666;
            border-radius: 2px;
            transition: 240ms;
        }

        &:checked:before {
            content: "";
            position: absolute;
            top: 0;
            left: 4px;
            display: table;
            width: 3px;
            height: 9px;
            border: 2px solid #fff;
            border-top-width: 0;
            border-left-width: 0;
            transform: rotate(45deg);
        }

        &:checked:after {
            background-color: #2196f3;
            border-color: #2196f3;
        }
    }
}

/**
 * Buttons
 */
.elfinder {
    .ui-button,
    .ui-button:active,
    .ui-button.ui-state-default {
        display: inline-block;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 3px;
        text-transform: uppercase;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4) !important;
        transition: all .4s;
        background: @buttons-bg;
        color: @buttons-color;
        border: none;
        padding: 7px 6px;

        .ui-icon {
            color: @buttons-color;
        }
    }

    .ui-button:hover,
    a.ui-button:active,
    .ui-button:active,
    .ui-button:focus,
    .ui-button.ui-state-hover,
    .ui-button.ui-state-active {
        background: @buttons-bg-hover !important;
        color: @buttons-color-hover !important;
        border: none;

        .ui-icon {
            color: @buttons-color-hover;
        }
    }

    .ui-button.ui-state-active:hover {
        background: darken(@buttons-bg-hover, 10%);
        color: @buttons-color-hover;
        border: none;
    }

    .ui-button:focus {
        outline: none !important;
    }

    .ui-controlgroup-horizontal .ui-button {
        .remove-borders;
    }

    input:not([type="checkbox"]),
    .elfinder-resize-preset-container .ui-button {
        height: 21px;
    }
}
