/**
 * Navbar
 */
.elfinder .elfinder-navbar {
    background: @navbar-bg;
    .remove-borders;

    .ui-resizable-handle {
        background-image: none;
        font-size: 12px;
        color: @navbar-dir-color;

        &:before {
            position: absolute;
            top: 50% !important;
            transform: translateX(-50%);
        }
    }
}

.elfinder-navbar-dir {
    color: @navbar-dir-color;
    cursor: pointer;
    border-radius: 2px;
    border: 0;
    padding: 5px;

    &.ui-state-hover,
    &.ui-state-active {
        background: @navbar-dir-bg;
        color: @navbar-dir-color-hover;
        border: 0;
    }
}

.elfinder-navbar-icon {
    background-image: none !important;
    font-size: 16px;
    margin-top: -10px;
}

.elfinder-tree .elfinder-spinner {
    margin: -10px 0 0;
}

.elfinder-navbar-arrow {
    background-image: none !important;
    font-size: 10px;
    padding-top: 2px;
    padding-left: 2px;
}
