/**
 * Toolbar
 */
.elfinder-toolbar {
    background: @toolbar-bg;
    .remove-borders;
    padding: 3px 20px;
}

.elfinder-buttonset {
    .remove-borders;
    margin: 0 3px;
    background: transparent;
    height: unset;

    &:nth-child(2) {
        margin-left: 0;
    }
}

.elfinder .elfinder-button:not(.elfinder-button-search) {
    padding: 6px 4px 3px;
    background: transparent;
    overflow: unset;

    &.ui-state-hover {
        .elfinder-button-icon {
            color: lighten(@toolbar-bg, 70%);
        }
    }
}

.elfinder-button-icon {
    background: none;
    font-size: 20px !important;
    color: lighten(@toolbar-bg, 80%);
    overflow: unset;
}

.elfinder-button-text {
    margin: 0 0 0 1px;
    top: -3px;
    color: lighten(@toolbar-bg, 85%);
}

.elfinder-toolbar-button-separator {
    border: 0;
    height: unset;
}

.elfinder .elfinder-button-search {
    margin: 3px 0;
    height: unset;
    min-height: unset;

    input[type=text] {
        border-radius: 2px;
        border: 0;
        background: @search-bg;
        font-size: .71em;
        line-height: unset;
        height: unset;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ui-icon {
        color: lighten(@search-bg, 80%);
        margin: -6px 4px 0;
    }
}

.elfinder-button-search-menu {
    .ui-button {
        margin-left: 2px;
        margin-right: 2px;
    }
}
