//
// Variables for Gray theme
//

// Colors
// ----------------------------------------------
@color-scheme: dark;
@main-color: #37474F;
@body-color: lighten(@main-color, 80%);

// Toolbar
// ----------------------------------------------
@toolbar-bg: darken(@main-color, 10%);
@search-bg: fade(lighten(@main-color, 10%), 75%);

// Navbar
// ----------------------------------------------
@navbar-bg: darken(@main-color, 5%);
@navbar-dir-bg: lighten(@navbar-bg, 5%);
@navbar-dir-color: lighten(@main-color, 80%);
@navbar-dir-color-hover: lighten(@main-color, 80%);

// Workzone
// ----------------------------------------------
@workzone-bg: lighten(@main-color, 50%);
@file-color: darken(@main-color, 80%);
@file-bg-hover: lighten(@main-color, 10%);
@file-color-hover: lighten(@main-color, 80%);
@thead-bg: lighten(@workzone-bg, 3%);
@thead-color: lighten(@main-color, 80%);
@selectable-border: lighten(@main-color, 40%);
@selectable-bg: fade(@selectable-border, 38);

// Status Bar
// ----------------------------------------------
@statusbar-bg: darken(@main-color, 10%);
@statusbar-color: lighten(@main-color, 80%);

// Forms
// ----------------------------------------------
@input-bg: darken(@main-color, 15%);
@input-color: #f1f1f1;
@checkbox-bg: darken(@main-color, 15%);
@checkbox-border: #666;
@checkbox-icon: #fff;
@button-bg: darken(@main-color, 15%);
@button-color: #fff;
@slider-bg: darken(@main-color, 15%);
@slider-handle-bg: darken(@slider-bg, 5%);

// Context menu
// ----------------------------------------------
@context-menu-bg: lighten(@main-color, 5%);
@context-menu-item-color: lighten(@main-color, 85%);
@context-menu-item-bg-hover: rgba(0, 0, 0, .5);

// Dialogs
// ----------------------------------------------
@dialog-header-bg: rgba(0, 0, 0, .4);
@dialog-header-color: lighten(@main-color, 85%);
@dialog-bg: lighten(@main-color, 5%);
@dialog-color: lighten(@main-color, 85%);
@tabs-border: lighten(@main-color, 70%);
@tab-color: lighten(@main-color, 70%);
@tab-color-active: lighten(@main-color, 50%);
@quicklook-text-preview-bg: #c4c4c4;
